@media only screen and (min-width : 345px) and (max-width : 640px){
    .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .cards{
    width : 100% !important;
}
.col-md-7,.col-sm-12{
  padding : 40px;
}
.infodales-includes-mobile{
  padding : 0 ;
}
.infodales-banner-training{
  padding: 0 10px;
}
.training-banner-summery, .col-md-1{
  display: none;
}
.training-header{
  width: 64%;
}
.training-header-mobile{
  flex-direction: row;
  flex-wrap: nowrap;
}
.training-header{
  padding : 0;
}
.training-logo > img {
  width: 118px;
  height: 100px;
}
.training-logo {
  background-color: #ffffff;
  border-radius: 25px;
  /* padding-top: 20px; */
  padding: 20px 4px;
  margin-top: 25px;
  height: 140px !important;
}
.navbar-nav {
  padding-left: 30px;
}
.navbar-toggler-icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: #ffffff;
  background-color: #57c5e1;
  border-radius: 6px;
  width: 37px;
  height: 34px;
  left: 36px;
}
.training-logo{
  width: 34%;
}
}