@media only screen and (min-width : 345px) and (max-width : 640px){
    .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .cards{
    width : 100% !important;
}
.col-md-7,.col-sm-12{
  padding : 40px;
}
.infodales-includes-mobile{
  padding : 0 ;
}
}