
    @media only screen and (min-width : 641px) and (max-width : 992px){
    
    .infodales-banner{
        background: url(../images/banners/business-3528035_1280.jpg) repeat-x left;
        height: 400px;
        padding: 60px 0;
        width: 100%;
        
    }
    .cards{
        width : 44% !important;
    }
    .col-md-7{
        width : 100%;
    }
    .training-divider-vertical{
        display: none;
    }
    .training-logo {
        background-color: #ffffff;
        border-radius: 25px;
        padding: 28px 1px;
        margin-top: 25px;
        height: 175px !important;
    }
    .training-logo > img {
        width: 115px;
        height: 115px;
    }
    .infodales-banner-training{
        padding : 0;
    }
    .navbar-toggler-icon {
        display: inline-block;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        color: #ffffff;
        background-color: #57c5e1;
        border-radius: 6px;
        width: 52px;
        height: 47px;
        left: 36px;
    }
    .navbar-nav {
        padding-left: 30px;
    }
    .infodales-banner-service{
        padding-left: 0px;
    padding-right: 0px;
    }
    .mobile-hr{
        display: block;
    }
    .cards-layout {
        display: inline-flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin: 40px auto;
        flex-wrap: wrap;
        width: auto;
    }
    .infodales-banner{
        background: url(../images/banners/business-3528035_1920.jpg) repeat-x left;
        height: 400px;
        padding: 60px 0;
        width: 100%;
        
    }
    .clearfix-subheading {
        width: 100%; 
        margin: 0 auto;
        padding: 0 80px;
        float: left;
        font-weight: 600;
    }
    .clearfix {
         width: 100%; 
        margin: 0 auto;
        padding: 0 20px;
        float: left;
        padding-bottom: 15px;
    }
    .clearfix-subheading {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        float: left;
        font-weight: 600;
    }
    
    .infodales-banner-service{
        width: 100%;
    padding: 40px 0;
    }
    .servilce-ul > li {
        display: list-item;
        list-style-type: disc;
        color: #585858;
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 15px;
    }
    .infodales-banner-service{
        padding-top: 120px;
    }
    .contact-form {
        background: #fff;
        margin-bottom: 5%;
        width: 100%;
    }
    .contact-image img {
        border-radius: 6rem;
        width: 20%;
        margin-top: -8%;
        transform: rotate(29deg);
    }
}