* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
p {
  text-align: justify;
}
.vision {
  margin: 40px 0px;
}
.image_css {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}
.tile-container-text {
  padding: 20px;
}
.tile-container-row {
  margin-top: unset !important;
  margin-left: unset !important;
  margin-right: unset !important;
  border-radius: 10px;
}
.tile-child-container-left {
  background-image: url("images/infodales/tile/bug.jpg");
  border-radius: 10px 0 0 10px;
}
.tile-child-container {
  width: 50%;
  /* max-height: 260px; */
  max-height: fit-content;
  min-height: 260px;
  border-radius: 10px;
}
.tile-container {
  /* border: 1px solid gray; */
  width: 47%;
  /* box-shadow: 3px 3px 10px royalblue; */
  /* box-shadow: 3px 3px 10px rgb(122, 121, 121); */
  box-shadow: 3px 3px 10px rgb(172, 172, 172);
  border-radius: 10px;
  /* width: 46%;
    margin-right: 20px; */
}

.tile-container-text p {
  padding-left: 0;
}

@media (max-width: 700px) {
  .tile-container {
    height: fit-content;
  }
  .tile-container-text {
    /* padding-top : 60px; */
    height: fit-content;
  }
  .image_css {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
  }
  .tile-child-container-left {
    background-image: url("images/infodales/tile/bug.jpg");
    border-radius: 10px 10px 0 0;
  }
}

.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  /* color: #7e7e7e; */
  color: white;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget {
  padding: 0 20px;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
  text-align: initial;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(6, 10, 27, 0.74),
      rgba(6, 10, 27, 0.74)
    ),
    url(images/infodales/banner/mountains-7538471_1920-compressed.webp);
  background-position: center;
  background-size: cover;
  position: relative;
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  /* color: #878787; */
  color: white;
}
.copyright-text p a {
  color: #6baddf;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  /* color: #878787; */
  color: white;
}
.footer-text {
  text-align: left;
}
.expertise-row {
  margin-top: unset !important;
}

@media (max-width: 1280px) {
  .home-col-right img {
    width: 100% !important;
  }
  .about-us {
    background: #f7f9fa;
    margin-top: -63px;
  }
}
@media (min-width: 1281px) {
  .home-col-right img {
    width: 67% !important;
  }
  .about-us {
    background: #f7f9fa;
    margin-top: -94px;
  }
}

.home-col-left {
  flex-basis: 74% !important;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 250px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 16px;
  color: #fff;
  text-align: unset;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .header {
    height: 35em;
  }

  nav img {
    width: 200px;
    margin-top: 10px;
  }
  .text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 52%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .text-box p {
    margin: 10px 0 20px;
    font-size: 16px;
    color: #fff;
  }
  .text-box h1 {
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: fixed;
    /* background: #f44336; */
    /* background: rgb(1, 0, 20); */
    background: rgb(1, 6, 36);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }
}

/*------ Course ------*/
.course {
  width: 100%;
  margin: auto;
  text-align: center;
  margin: 30px 0px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

.course p {
  color: #777;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  padding: 10px 50px;
  text-align: center;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 3%;
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.footer .row {
  justify-content: space-between;
}

.course-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 3%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.course-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .course {
    margin: 2.5em 0;
    margin-bottom: 0.5em;
    width: 100%;
  }
  .course p {
    padding: 15px 30px;
    text-align: center;
  }
  .row {
    flex-direction: column;
  }
}

/* --------  Campus --------  */
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.campus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.campus-col img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5;
}

/* .layer:hover{
	background: rgba(41, 43, 177, 0.4);
} */

.layer:hover {
  background: rgba(33, 34, 99, 0.4);
}

.layer h3 {
  width: 100%;
  font-weight: 600;
  color: #fff;
  font-size: 22px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/*------ Facilities ------*/
.facilities {
  width: 100%;
  margin: auto;
  text-align: center;
  /* padding-top: 20px; */
}

.facilities .row-bottom {
  margin-top: 0;
  margin-bottom: 20px;
}

.facilities-bottom {
  margin-bottom: 20px;
}

.facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 2%;
  text-align: left;
}

.facilities-col img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

.facilities-col p {
  padding: 0;
}

.facilities-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/*------Testimonials------*/
.testimonials {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.testimonials-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.testimonials-col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.testimonials-col p {
  padding: 0;
}

.testimonials-col h3 {
  margin-top: 15px;
  text-align: left;
}

.testimonials-col .fa {
  color: #f44336;
}

@media (max-width: 700px) {
  .testimonials-col img {
    margin-left: 0px;
    margin-right: 15px;
  }
}

/*------Call to Action------*/
.cta {
  margin: 40px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/career.webp);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

@media (max-width: 700px) {
  .cta {
    width: 90%;
    margin: 45px 18px;
  }
  .cta h1 {
    font-size: 24px;
    margin: 10px;
  }
}

/*------Footer------*/

.footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icons .fa {
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.fa-heart-o {
  color: #f44336;
}

/*------ About Us ------*/
.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("images/background.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.sub-header h1 {
  margin-top: 50px;
}
.tile-container-row:hover {
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.2);
}
.about-us div {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-right: 20px;
}

.about-us .flex {
  padding-top: 40px;
  padding-bottom: 0;
}

.about-us .home-col-right {
  margin-top: 90px;
  padding-top: 0;
  margin-bottom: 40px;
}

.about h1 {
  width: 80%;
  margin: 30px auto;
  text-align: center;
}

.about .row {
  padding-top: 0;
  padding-bottom: 20px;
}

.about div {
  width: 80%;
  margin: auto;
  /* padding-top: 40px;
	padding-bottom: 40px; */
}

.about-col {
  flex-basis: 48%;
  padding: 0 5px 30px 5px;
}

/* .home-col-left{
	width: 30%;
} */

.about-col img {
  width: 100%;
}

.about-col h1 {
  padding-top: 0;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-betweeen;
}

.about-col p {
  padding-left: 0;
  text-align: justify;
  text-justify: inter-word;
}

.hero-btn {
  margin-top: 10px;
  width: fit-content;
  margin-left: 0;
}

.red-btn {
  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;
}

.red-btn:hover {
  color: #fff;
}

.apply-btn {
  border: 1px solid #f44336;
  background-color: #f44336;
  color: white;
  font-weight: 700;
}

.apply-btn:hover {
  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;
}

@media (max-width: 700px) {
  .about-us h1 {
    font-size: x-large;
    margin: 10px 0;
  }
  .course h1 {
    font-size: x-large;
  }
  .course {
    margin-top: 30px;
  }
  .facilities {
    padding-top: 20px;
  }
  .facilities .row {
    margin-top: 0;
  }
  .facilities-col img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .facilities-col {
    padding-bottom: 10px;
  }

  .facilities-bottom {
    padding-top: 0;
  }
  .facilities h1 {
    font-size: x-large;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .facilities-bottom h1 {
    font-size: x-large;
    padding-bottom: 20px;
  }
  .expertise h1 {
    font-size: x-large;
    margin-bottom: 20px;
  }

  .about {
    margin: 20px 0;
  }

  .about .about-col {
    padding-top: 0;
  }

  .about .about-col-right {
    padding-bottom: 0;
  }

  .about h1 {
    width: 90%;
    font-size: x-large;
    margin: 30px auto 10px auto;
  }

  /* .about-us div{
		width: 95%;
		margin: auto;
		flex-direction: column-reverse;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: justify;
  		text-justify: inter-word;
	} */

  .about-us div {
    flex-direction: column-reverse;
    width: 95%;
    padding-right: 0;
  }

  .about-us .flex {
    padding-bottom: 20px;
  }

  /* .about{
		width: 90%;
	} */

  .about div {
    align-items: center;
    width: 95%;
  }

  .about-us .home-col-left {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .about-us .home-col-right {
    padding-bottom: 0;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

/* career */
.career-blocks {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.career-block-rev {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.career-card {
  width: 84%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
}

.parent-card1 {
  width: 50%;
}
.parent-card2 {
  width: 50%;
}

.career-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* margin: auto; */
  padding: 40px 80px;
}
.career-content .philosophy p {
  font-size: large;
}
.career-content p {
  font-size: 16px;
}
.career-card h1 {
  font-size: 30px;
}

.parent-card1 .career-card p {
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  line-height: normal;
  text-align: justify;
  text-justify: inter-word;
}

.career-content .tips-desc {
  padding-left: 0;
  padding-right: 0;
  font-size: large;
  color: black;
  line-height: normal;
  text-align: justify;
  margin-top: 10px;
  text-justify: inter-word;
  text-align: center;
}

@media (max-width: 700px) {
  .career-content .philosophy p {
    font-size: 15px;
  }
  .career-content {
    padding: 40px 30px;
  }

  .career-content .noOpenings {
    padding-top: 50px;
  }

  .career-block-rev {
    flex-direction: column-reverse;
    margin-top: 10px;
  }
  .career-blocks {
    width: 100%;
    flex-direction: column-reverse;
  }
  .parent-card1 {
    width: 100%;
  }
  .parent-card2 {
    width: 100%;
  }

  .career-card {
    width: 84%;
    padding: 20px 30px;
  }
  .parent-card1 .career-card h1 {
    font-size: large;
  }

  .parent-card1 .career-card p {
    font-size: 15px;
  }

  .career-content .tips-desc {
    font-size: 15px;
  }
}

/*------ Blog Content -------*/
.blog p {
  color: #000000;
}

.blog-tiles {
  width: 80%;
  margin: auto;
  padding: 40px 0;
}
.blog-tiles-list {
  /* display: flex;
	flex-direction: row;
	margin: 0 auto; */
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0;
  justify-content: center;
}

.blog-tiles-list a {
  box-shadow: 3px 3px 10px rgb(172, 172, 172);
  border-radius: 8px;
}
.blog-tiles-list a:hover {
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.2);
}

.blog-item {
  /* margin: 0 10px; */
  margin: 11px;
  height: fit-content;
}

.blog-item .blog-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .blog-item .blog-title:hover{
	overflow: visible; 
    white-space: normal;
    height:auto;
} */

.blog-content {
  width: 100%;
  margin: auto;
  padding: 10px 0;
}

.blog {
  margin: 20px auto;
  width: 65%;
}

.blogsCount {
  font-weight: 300;
  font-size: 17px;
  margin-left: 5px;
}
/* .blog h2{
	color: #222;
	font-weight: 600;
	margin: 30px 0;
} */

.blog .image-container img {
  width: 100%;
  margin: 20px 0px;
}

.title {
  font-size: 34px;
  padding: 2px 0px;
}

.author,
.date {
  font-size: 14px;
  padding: 2px 0px;
}

.share-icons {
  margin-top: 10px;
}

.linkedin-icon,
.email-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  margin-right: 5px;
  background-color: #0077b5;
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
}

.linkedin-icon:hover,
.email-icon:hover {
  background-color: #005f91;
}
/* .blog-button {
  display: inline-block;
  border-radius: 4px;
  background: transparent;
  border: 2px solid #c5c5c5;
  border-radius: 10px;
  color: #000000;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 16px;
  width: 20%;
  justify-content: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
} */

.blog-button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.blog-button:after {
  content: "»";
  position: relative;
  margin-top: 15px;
  margin-left: 8px;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.blog-button:hover {
  padding-right: 15px;
}

.blog-button:hover:after {
  opacity: 1;
  right: 0;
}

.blog-button.active:after {
  opacity: 1;
  right: 0;
}

.blog .sitesTag {
  background-color: #991b1b;
  color: white;
}
#sites .sitesTag {
  background-color: #991b1b;
  color: white;
}
.blog .formsTag {
  background-color: #2b2d42;
  color: white;
}
#forms .formsTag {
  background-color: #2b2d42;
  color: white;
}
.blog .spaTag {
  background-color: #3e92cc;
  color: white;
}
#spa .spaTag {
  background-color: #3e92cc;
  color: white;
}
.blog .dispatcherTag {
  background-color: #3c6e71;
  color: white;
}
#dispatcher .dispatcherTag {
  background-color: #3c6e71;
  color: white;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.text-2 {
  font-weight: 600;
}

.blog-left {
  flex-basis: 65%;
}

.blog-left img {
  width: 100%;
}

.blog-left h2 {
  color: #222;
  font-weight: 600;
  margin: 30px 0;
}

.blog-left p {
  color: #999;
  padding: 0;
}

.blog-right {
  flex-basis: 32%;
}

.blog-right h3 {
  background: #f44336;
  color: #fff;
  padding: 7px 0;
  font-size: 16px;
  margin-bottom: 20px;
}

.blog-right div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555;
  padding: 8px;
  box-shadow: border-box;
}

.comment-box {
  width: 70%;
  border: 1px solid #ccc;
  margin: 50px 0;
  padding: 10px 20px;
}

.comment-box h3 {
  text-align: left;
}

.comment-form input,
.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
}

.comment-form button {
  margin: 10px 0;
}
@media (max-width: 700px) {
  .sub-header h1 {
    font-size: 24px;
  }

  .comment-box {
    width: 90%;
    margin: 20px 0;
  }

  .title {
    font-size: 24px;
  }
}

/*-----Contact Us Page ------*/
.location {
  width: 80%;
  margin: auto;
  padding: 50px 0 40px 0;
}

.location iframe {
  width: 100%;
}

.contact-us {
  width: 80%;
  margin: auto;
}

.contact-us .row {
  margin: 0 30px;
}

.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col div .fa {
  font-size: 28px;
  color: #f44336;
  margin-right: 30px;
}

.contact-col div p {
  padding: 0;
}

.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}

.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .contact-col-right form input {
    font-size: 15px;
  }
  .contact-col-left {
    margin-bottom: 10px;
  }
  .contact-col-left div {
    margin-bottom: 20px;
  }
  .contact-col-left div span h5 {
    font-size: large;
  }
  .contact-col-left div span p {
    font-size: 15px;
  }
  .location {
    width: 90%;
    padding: 30px 0;
  }
  .tile-container {
    /* border: 2px solid gray; */
    box-shadow: 3px 3px 10px rgb(172, 172, 172);
    border-radius: 10px;
    width: 100%;
    margin-right: 20px;
    height: fit-content;
    margin-top: 40px;
  }
  .tile-child-container {
    width: 100%;
  }
  .tile-child-container-right {
    min-height: fit-content;
    padding-top: 0;
  }
  .tile-container-text {
    margin: 0;
    min-height: fit-content;
  }
  .vision {
    margin: 0px 0px;
  }
  .vision .clearfix {
    margin-top: unset !important;
  }
  .about-us {
    margin-top: -20px;
  }
  .contact-us {
    width: 100%;
  }
}

/* //// */

.button-tab {
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-tab a {
  width: 32%;
  margin: 15px;
}

/* button {
	background-color: white;
	color: black;
	border-radius: 10em;
	font-size: 17px;
	font-weight: 600;
	padding: 15px 30px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	border: 1px solid black;
	box-shadow: 0 0 0 0 black;
	width: 24%;
  }
  
  button:hover {
	transform: translateY(-4px) translateX(-2px);
	box-shadow: 2px 5px 0 0 black;
  };
  
  button:active {
	transform: translateY(2px) translateX(1px);
	box-shadow: 0 0 0 0 black;
  }; */

/* @media(max-width:700px){ */

/* .button-tab{
		width: 100%;
	} */

/* .button-tab{
		flex-direction: column;
		justify-content: center;
	} */

/* button{ */
/* padding: 0; */
/* } */

/* } */

button {
  position: relative;
  display: inline-block;
  /* margin: 15px; */
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #000000;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #c5c5c5;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #4e4e4eb2;
  width: 100%;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
  /* pointer-events: none; */
}

/* button:hover {
	color: black;
	box-shadow: inset 0 -100px 0 0 #eeeeeeb7;
  } */

/* button:active {
	transform: scale(0.9);
  } */

@media (max-width: 700px) {
  /* .button-tab{
		width: 100%;
	} */

  .career-content {
    padding-top: 30px;
  }

  /* .button-tab{
		flex-direction: column;
		justify-content: center;
	} */

  .button-tab {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  button {
    padding: 5px 10px;
    font-size: 15px;
  }

  .button-tab a {
    margin: 2px;
  }
}

.custom-btn {
  width: 100%;
  height: 60px;
  color: black;
  border-radius: 5px;
  /* padding: 10px 25px; */
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-1 {
  background: rgb(124, 124, 124);
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(250, 250, 250) 100%
  );
  border: none;
}

.btn-1:before {
  height: 0%;
  width: 2px;
}

/* .btn-1:hover {
	box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
				 -4px -4px 6px 0 rgba(116, 125, 136, .5), 
	   inset -4px -4px 6px 0 rgba(255,255,255,.2),
	   inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
   } */

.btn-1:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.842),
    -4px -4px 6px 0 rgba(211, 211, 211, 0.651),
    inset -4px -4px 6px 0 rgba(238, 238, 238, 0.342),
    inset 4px 4px 6px 0 rgba(255, 255, 255, 0.904);
}

/* SPA-Blog1 */
.blog-item {
  margin-top: 20px;
  /* width: 30%; */
}
.blog-items p {
  padding-left: 0;
  padding-right: 0;
  text-align: justify;
}
.blog-items .spa-image {
  display: block;
  margin: 10px auto;
}
.blog-items h3 {
  margin: 5px 0;
}

.aff-headings h3 {
  padding-bottom: 10px;
}

pre {
  width: fit-content;
  height: 190px;
}

.spa-pre-tag pre {
  width: 100%;
}

.query-pre-tag pre {
  width: 100%;
}

pre code {
  background-color: lightgray;
  border: 1px solid #999;
  display: block;
  padding: 10px;
  text-align: justify;
  width: fit-content;
  font-size: 14px;
  color: darkblue;
}
/* .categoriesList {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */
@media (max-width: 700px) {
  .blog-item .blog-title {
    overflow: visible;
    white-space: normal;
    height: auto;
  }
  .custom-btn {
    font-size: small;
    text-align: center;
  }
  .blog-tiles {
    width: 90%;
    margin: auto;
    padding: 30px 0;
  }
  .blog-tiles-list a {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .blog-item {
    margin-top: 0;
    width: 95%;
  }
  .sub-header {
    height: 15em;
    background-size: cover;
  }
  .blog {
    margin: 20px auto;
    width: 90%;
  }
  .categoriesList {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .categoriesList a {
    /* width: 35%; */
    font-size: 15px;
  }
  .blog .author,
  .date,
  p {
    font-size: small;
  }
  /* .blog div{
		width: 100%;
	} */
  .blog .spa-image {
    width: 100%;
    height: auto;
  }
  pre {
    width: 94%;
  }

  .spa-pre-tag pre {
    width: 94%;
  }

  .query-pre-tag pre {
    width: 94%;
  }

  pre code {
    background-color: lightgray;
    border: 1px solid #999;
    display: block;
    padding: 10px;
    text-align: justify;
    overflow-x: scroll;
    width: 100%;
    font-size: 14px;
    color: darkblue;
  }
  .blog .command {
    text-align: unset;
  }
}

.author-details {
  display: flex;
  justify-content: space-between;
}

.author-name {
  font-size: 14px;
  padding: 2px 0px;
  color: #070707;
}
.author-designation {
  font-size: 14px;
  padding: 2px 0px;
  color: #7e7e7e;
}

.like-icon {
  position: relative;
}

.like-count {
  position: absolute;
  top: 0;
  margin-left: 25px;
  color: #0f0f0f;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 14px;
}

.like-btn {
  cursor: pointer;
}

.like-btn img {
  width: 30px;
  height: auto;
}

.like-animation {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: likeAnimation 1s ease-in-out;
}

@keyframes likeAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* Index page */
.social-icons {
  position: fixed;
  bottom: 7px;
  right: 7px;
  display: flex;
  flex-direction: column;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.1);
}

/*  Dispatcher Styling    */
li {
  text-justify: auto;
}

img {
  margin: auto;
}
.image1 {
  width: 100%;
}

.content {
  text-align: justify;
}
.content-text {
  color: black;
  font-size: 14px;
}
.image2 {
  width: 100%;
}

.image-style {
  width: 500px;
  margin: 0 180px;
}

@media (max-width: 700px) {
  pre {
    width: 94%;
  }

  .center {
    padding-left: 0% !important;
    width: 50%;
  }

  .author-name,
  .author-designation {
    font-size: small;
  }

  .image-style {
    width: 200px;
    margin: 0 0 0 50px;
  }
}

/* forms introduction */
.blog-h2-forms-intro {
  color: #222;
  font-weight: 600;
  margin: 1%;
}
.blog-list-items {
  text-align: auto;
  padding: 2px 10px;
}
/* .edit-img{
	padding:15px 5px;
	height: 250px;
	width: -100%;
} */
.blog-form-intro img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 5px 5px;

  /* width: auto;
	margin: auto;
	text-align: center;  */
}

/*AEM Spa*/
.content-image-flowchart {
  width: 45%;
  height: 35%;
  padding-left: 20%;
}
.content-image-item {
  width: 900px;
  height: 350px;
  justify-content: center;
}
.react-component-image {
  width: 35%;
  height: 30%;
  padding-left: 25%;
}
.exporterimage {
  width: 550px;
  padding-left: 13%;
}
.aem-component {
  width: 500px;
  height: 350px;
  padding-left: 50px;
}
.mapTo-img {
  width: 50%;
  padding-left: 18%;
  padding-right: 10%;
}
.responsivegrid-img {
  padding-left: 10px;
}
.sling-model {
  width: 1040px;
  height: 500px;
}
.react-code {
  width: 400px;
  height: 400px;
  justify-content: center;
}
.content-text {
  color: #000000 !important;
  text-align: justify;
  padding-left: 0% !important;
}
.react-component-code {
  font-size: 80%;
  padding-top: 0% !important;
}
.react-code-container {
  padding-left: 20%;
  margin: 0;
  height: 33em;
  padding-top: 0 !important;
  /* border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray; */
}
.java-code {
  font-size: 80%;
  padding-top: 0% !important;
}
.java-code-container {
  padding-left: 20%;
  height: 44em;
  padding-top: 0% !important;
  /* border-left: 1px solid lightgray !important;
    border-right: 1px solid lightgray !important;
    border-top: 1px solid lightgray !important;
    border-bottom: 1px solid lightgray !important; */
}

@media (max-width: 700px) {
  .text-box p {
    font-size: 14px;
  }
  .cta h1 {
    font-size: large;
  }
  .tile-container-text {
    padding-top: 0;
  }
  p {
    font-size: 14px;
  }
  .footer .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer p {
    padding: 0;
    font-size: 11px;
  }
  .footer-menu li a {
    font-size: 11px;
  }
  .exporterimage {
    width: 250px;
  }
  .react-component-code {
    font-size: 38%;
    padding-left: 20% !important;
    margin-top: 0%;
  }
  .react-code-container {
    padding-left: 10% !important;
    width: 70%;
    height: 19em;
  }
  .java-code {
    font-size: 38%;
    padding-left: 20%;
    margin-top: 0%;
  }
  .java-code-container {
    padding-left: 5% !important;
    width: 80%;
    height: 24em;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .text-box p {
    font-size: 14px;
  }
  .cta h1 {
    font-size: large;
  }
  .tile-container-text {
    padding-top: 0;
  }
  p {
    font-size: 14px;
  }
  .footer .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer p {
    padding: 0;
    font-size: 11px;
  }
  .footer-menu li a {
    font-size: 11px;
  }
  .exporterimage {
    width: 250px;
    padding-left: 20%;
  }
  .react-component-code {
    font-size: 38%;
    padding-left: 20% !important;
    margin-top: 0%;
  }
  .react-code-container {
    padding-left: 20% !important;
    width: 70%;
    height: 19em;
  }
  .java-code {
    font-size: 38%;
    padding-left: 20%;
    margin-top: 0%;
  }
  .java-code-container {
    padding-left: 20% !important;
    width: 80%;
    height: 24em;
  }
}

/* Form-data-model form submission */
.form-flow {
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.form-flow-small {
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.form-video {
  margin: 30px;
  max-width: 100%;
  margin: 0 auto;
}
.list-styling {
  margin-left: 60px;
}

/* Form Rule Editor */

.blog-form img {
  margin-right: 10%;
  margin-left: 10%;
}

#applicationForm label {
  font-weight: 600;
}

/* AEM introduction */

.blog-items ol {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
  font: size 10px;
  /* list-style: lower-roman; */
}

.blog .image-container img {
  width: 80%;
  margin: 20px auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Job description */

.jd-titles {
  padding-left: 0;
  color: black;
  font-weight: 600;
}

.career-content .jd-qualification {
  padding-left: 0;
  font-size: 14px;
  padding-top: 1px;
  color: #414141;
}
@media (max-width: 700px) {
  .career-content h1 {
    font-size: x-large;
  }

  .apply-form {
    text-align: center;
  }

  .career-content p {
    font-size: small;
    padding-bottom: 0;
    text-align: unset;
  }
  .career-content ul {
    margin-top: 10px;
  }

  .career-content .jd-qualification {
    font-size: small;
    margin-top: 10px;
    text-align: justify;
  }

  .career-content ul li {
    font-size: small;
    text-align: justify;
  }

  .hero-btn {
    font-size: small;
    padding: 12px 14px;
  }

  .form-flow-small {
    margin: 10px;
    display: block;
    margin-left: 25px;
    margin-right: auto;
    max-width: 100%;
  }

  .form-video {
    height: 100%;
  }
}

/* GraphQL css */
table,
th,
td {
  /* border: 5px solid rgb(226, 139, 139);   */
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  /* width: 500px;  */

  /* text-align: center;   */
  /* font-size: 20px;   */
  /* padding-left: 25%;   */
}
.large-image-update img {
  padding-left: 15%;
  width: 60%;
  height: 10%;
}
.small-image-update img {
  padding-left: 30%;
  width: 30%;
  height: 10%;
}
.snippet {
  padding-bottom: 9%;
  padding-left: 10%;
}
.snippet-small {
  padding-bottom: 20%;
  padding-left: 32%;
}
.snippet-large {
  padding-bottom: 30%;
  padding-left: 32%;
}

@media (max-width: 700px) {
  .snippet {
    padding-bottom: 28%;
    padding-left: 0% !important;
  }
  .snippet-small {
    padding-bottom: 47%;
    padding-left: 0% !important;
  }
  .snippet-large {
    padding-bottom: 80%;
    padding-left: 0% !important;
  }
  .snippet-text {
    font-size: 10px;
  }
  .small-image-update img {
    width: 95%;
    height: auto;
    padding-left: 2%;
    padding-right: 5%;
  }

  .large-image-update img {
    width: 100%;
    height: 50%;
    padding-left: 2%;
  }
}

.blog .blog-ol li p {
  padding: 0;
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
}

/*MSM BLOG*/
.list-container {
  padding-left: 2.6%;
  padding-bottom: 5px;
}
.line-padding {
  padding: 0px;
}
.text-highlighter {
  font-weight: 600;
  /* background-color: lightblue; */
}
.msm-headers {
  text-align: left;
  margin: 3px !important;
}

@media (max-width: 700px) {
  .list-container {
    padding-left: 5.9% !important;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .list-container {
    padding-left: 4.7%;
  }
}

.resource {
  font-size: 12px;
  padding: 0px 0px;
}

/* ocr data forms */

.code-block {
  background-color: #161616;
  padding: 20px;
  border-radius: 5px;
  font-family: Consolas, monospace;
  overflow-x: auto; /* Enable horizontal scrolling */
}

code {
  color: #f3f0f0;
}

/* Vanity url Stylings */
.firstImage {
  width: 100%;
  height: 50%;
}
.secondImage {
  width: 50%;
  height: 70%;
  display: flex;
  padding-top: 1%;
}
.thirdImage {
  width: 80%;
  height: 75%;
  display: flex;
}
.snippetvanity {
  padding-left: 20%;
  /* height: 110px; */
}

@media (max-width: 900px) and (max-height: 1500px) {
  .snippetvanity {
    padding-left: 0% !important;
    /* height: 110px; */
  }
  @media (max-height: 700px) {
    .snippetvanity {
      padding-left: 0% !important;
      /* height: 110px; */
    }
  }
}

/* Osgi COnfiguration Factory Blog*/
.osgiconfiguration {
  margin-left: auto;
  width: 97%;
  list-style-type: none;
}
.osgiFactoryConfigService {
  height: 252px;
  padding-left: 20%;
}
.osgimodel {
  height: 15%;
  padding-left: 12%;
}
.cardinality {
  padding-left: 25px;
}
.cardinality-description {
  padding-left: 30px;
  margin-bottom: 5px;
}
.cardinality-list {
  padding-left: 6%;
}
@media (max-width: 700px) {
  .osgiconfiguration {
    margin-left: 0%;
    width: 90%;
  }
  .osgiFactoryConfigService {
    height: 252px;
    padding-left: 0%;
  }
  .osgimodel {
    height: 15%;
    padding-left: 0%;
  }
  .cardinality-list {
    padding-left: 13% !important;
  }
}
@media (min-width: 701px) and (max-width: 1281px) {
  .blog p {
    margin-top: 4%;
  }
  .osgimodel {
    height: 20%;
  }
  .cardinality-list {
    padding-left: 13% !important;
  }
  .configurationclass code {
    overflow-x: scroll;
    padding-left: 10%;
  }
  .osgiconfmodel code {
    overflow-x: scroll;
    width: 60%;
  }
  .osgiconfiguration code {
    overflow-x: scroll;
    width: 60%;
  }
  .blog .spa-image {
    width: 100%;
    height: auto;
  }
}

.blog-tiles-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 16px;
}

.blog-item-div {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-item img {
  width: 100%;
  height: auto;
  display: block;
}

.dispatcherTag,
.spaTag {
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 13px;
  border-radius: 20px;
  width: fit-content;
  padding: 3px 15px;
}

.blog-title {
  font-size: 1em;
  color: #555;
}

.publishDate {
  color: #999;
}

.categoriesList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}

.blog-button {
  display: block;
  border-radius: 4px;
  background: transparent;
  border: 2px solid #c5c5c5;
  border-radius: 10px;
  color: #000000;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 16px;
  justify-content: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.blog-button:hover,
.blog-button.active {
  background-color: #f5f5f5c9;
}

.accordion {
  width: 100%;
  margin: 40px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accordion-item {
  border-top: 1px solid #ccc;
  overflow: hidden;
  transition: all 2.5s ease;
}

.accordion-item:first-of-type {
  border-top: none;
}

.accordion-header {
  background-color: #fff;
  color: #333;
  cursor: pointer;
  padding: 15px;
  font-size: 16px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.accordion-header:hover {
  background-color: #f1f1f1;
}

.accordion-content {
  background-color: #fff;
  padding: 15px;
  border-top: 1px solid #ccc;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

details[open] .accordion-content {
  max-height: fit-content;
  display: flex;
  justify-content: center;
}

details[open] .accordion-header {
  background-color: #646464c5;
  letter-spacing: 2px;
  color: white;
}

.accordion-icon {
  font-size: 12px;
  transition: transform 0.3s ease;
}

details[open] .accordion-icon {
  transform: rotate(180deg);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .blog-tiles-list {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
  .categoriesList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .blog-tiles-list {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
  .categoriesList {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Rule Editor Styling */
.responsive-image {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 550px;
}
.small-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .responsive-image {
    max-width: 100%;
    max-height: 100vh;
  }
}

/*Custom Prefill Servicess*/
.heading-h3 {
  text-align: left !important;
}
.prefill-service-code code {
  width: 100% !important;
  overflow-x: scroll;
}
.prefill-service-pre {
  height: 106em;
}

@media only screen and (max-width: 700px) {
  .prefill-service-pre {
    height: 106em;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .prefill-service-pre {
    height: 106em;
  }
}
/* Dispatcher Migration */
.dispatcher-snippets {
  display: flex;
  justify-content: center;
  margin: 0;
}
.description-txt li p {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  padding: 5px !important;
}
